In [3]:
import numpy as np
import pandas as pd

In [63]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\trystan\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\trystan\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [127]:
df = pd.read_csv("LEU0252881500A.csv") #csv from https://fred.stlouisfed.org/series/LEU0252881500A
#Employed full time: Median usual weekly nominal earnings (second quartile): Wage and salary workers: 16 years and over

In [15]:
# Add a third column that divides the second column's values by 40
df['median_hourly_pay'] = df.iloc[:, 1] / 40 #assuming 40 hour work week (full time assumption for US). It does not seem possible to get data on the median hours worked in the US for full time employees (same subset for weekly wage data)

# Display the updated DataFrame
print(df)

   observation_date  LEU0252881500A  median_hourly_pay
0        1979-01-01             241              6.025
1        1980-01-01             262              6.550
2        1981-01-01             284              7.100
3        1982-01-01             302              7.550
4        1983-01-01             313              7.825
5        1984-01-01             326              8.150
6        1985-01-01             344              8.600
7        1986-01-01             359              8.975
8        1987-01-01             374              9.350
9        1988-01-01             385              9.625
10       1989-01-01             399              9.975
11       1990-01-01             412             10.300
12       1991-01-01             426             10.650
13       1992-01-01             440             11.000
14       1993-01-01             459             11.475
15       1994-01-01             467             11.675
16       1995-01-01             479             11.975
17       1996-01-01             490             12.250
18       1997-01-01             503             12.575
19       1998-01-01             523             13.075
20       1999-01-01             549             13.725
21       2000-01-01             576             14.400
22       2001-01-01             596             14.900
23       2002-01-01             608             15.200
24       2003-01-01             620             15.500
25       2004-01-01             638             15.950
26       2005-01-01             651             16.275
27       2006-01-01             671             16.775
28       2007-01-01             695             17.375
29       2008-01-01             722             18.050
30       2009-01-01             739             18.475
31       2010-01-01             747             18.675
32       2011-01-01             756             18.900
33       2012-01-01             768             19.200
34       2013-01-01             776             19.400
35       2014-01-01             791             19.775
36       2015-01-01             809             20.225
37       2016-01-01             832             20.800
38       2017-01-01             860             21.500
39       2018-01-01             886             22.150
40       2019-01-01             917             22.925
41       2020-01-01             984             24.600
42       2021-01-01             998             24.950
43       2022-01-01            1059             26.475
44       2023-01-01            1117             27.925
45       2024-01-01            1159             28.975

In [53]:
# https://www.congress.gov/crs-product/RL34498 for tax rate
print(1159 * 52 - 15000) #accounting for standard deduction
ded = 1159 * 52 - 15000

45268

In [55]:
print(1192.5 + .12 * (ded-11925)) #"over $11,925 to $48,475 = $1,192.50 + 12% of the amount over $11,925"

5193.66

In [57]:
print(1159*52-5193.66)
afterfed = 1159*52-5193.66

55074.34

In [59]:
print((1159*52-afterfed)/(1159*52)) # federal tax rate %

0.08617608017521743

In [97]:
#now accounting for social security and medicare: https://www.irs.gov/pub/irs-pdf/p926.pdf
print(ded*.062+ ded*.0145)
ssmc = ded*.062+ ded*.0145
fin= afterfed -ssmc
print (fin)

3463.002
51611.337999999996

In [79]:
#scraping tax rates for states to find an average
import requests
from bs4 import BeautifulSoup

# URL for the state income tax rates
url = 'https://www.nerdwallet.com/article/taxes/state-income-tax-rates' #not the best source, but it is a source we can use.

# Step 1: Get the page content
response = requests.get(url)

# Step 2: Parse the page content
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Find all tables on the page
tables = soup.find_all('table')

# Step 4: Select the second table (index 1 for the second table)
table = tables[1]

# Step 5: Extract table headers and rows
headers = [header.text.strip() for header in table.find_all('th')]
rows = table.find_all('tr')[1:]  # Skip the header row

# Step 6: Extract the data from each row
data = []
for row in rows:
    cols = row.find_all('td')
    cols = [col.text.strip() for col in cols]
    data.append(cols)

# Step 7: Create DataFrame and save it as CSV
df2 = pd.DataFrame(data, columns=headers)

In [77]:
df2 = df2.drop(index=51) #cleaning up extraneous information
df2

,State,Tax rates,Lowest and highest tax bracket (income)
0,Alabama,2%-5%.,"$500-$3,000."
1,Alaska,Does not have state income tax.,None
2,Arizona,2.5%.,Flat rate.
3,Arkansas,2%-3.9%.,"Income over $4,500 is subject to a 3.9% rate."
4,California,1%-13.3%.,"$10,756-$1,000,000."
5,Colorado,4.4%.,Flat rate.
6,Connecticut,2%-6.99%.,"$10,000-$500,000."
7,Delaware,2.2%-6.6%.,"$2,000-$60,000."
8,District of Columbia,4%-10.75%.,"$10,000-$1,000,000."
9,Florida,Does not have state income tax.,None
10,Georgia,5.39%.,Flat rate.
11,Hawaii,1.4%-11%.,"$9,600-$325,000."
12,Idaho,5.695%.,Flat rate.
13,Illinois,4.95%.,Flat rate.
14,Indiana,3%.,Flat rate.
15,Iowa,3.8%.,Flat rate.
16,Kansas,5.2%-5.58%.,"Income over $23,000 is subject to a 5.58% rate."
17,Kentucky,4%.,Flat rate.
18,Louisiana,3%.,Flat rate.
19,Maine,5.8%-7.15%.,"$26,800-$63,450."
20,Maryland,2%-5.75%.,"$1,000-$250,000."
21,Massachusetts,5%-9%.,"Flat tax of 5%. Income over $1,083,150 is subj..."
22,Michigan,4.25%.,Flat rate.
23,Minnesota,5.35%-9.85%.,"$32,570-$198,630."
24,Mississippi,4.4%.,Flat rate.
25,Missouri,2%-4.7%.,"$1,313-$9,191."
26,Montana,4.7%-5.9%.,"Income over $21,100 is subject to a 5.9% rate."
27,Nebraska,2.46%-5.2%.,"$4,030-$38,870."
28,Nevada,Does not have state income tax.,None
29,New Hampshire,Does not have state income tax.,None
30,New Jersey,1.4%-10.75%.,"$20,000-$1,000,000."
31,New Mexico,1.5%-5.9%.,"$5,500-$210,000."
32,New York,4%-10.9%.,"$8,500-$25,000,000."
33,North Carolina,4.25%.,Flat rate.
34,North Dakota,1.95%-2.5%.,"$48,475-$244,825."
35,Ohio,2.75%-3.5%.,"$26,050-$100,000."
36,Oklahoma,0.25%-4.75%.,"$1,000-$7,200."
37,Oregon,4.75%-9.9%.,"$4,400-$125,000."
38,Pennsylvania,3.07%.,Flat rate.
39,Rhode Island,3.75%-5.99%.,"$79,900-$181,650."
40,South Carolina,0%-6.2%.,"$3,560-$17,830."
41,South Dakota,Does not have state income tax.,None
42,Tennessee,Does not have state income tax.,None
43,Texas,Does not have state income tax.,None
44,Utah,4.55%.,Flat rate.
45,Vermont,3.35%-8.75%.,"$47,900-$242,000."
46,Virginia,2%-5.75%.,"$3,000-$17,000."
47,Washington,Does not have state income tax. 7% long-term c...,None
48,West Virginia,2.22%-4.82%.,"$10,000-$60,000."
49,Wisconsin,3.5%-7.65%.,"$14,680-$323,290."
50,Wyoming,Does not have state income tax.,None

In [91]:
# Reconstruct the state tax data (used llm for this part once i had data scraped, probably a more novel approach is possible, but the llm one shot it so why bother)
data = {
    "State": [
        "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado",
        "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia",
        "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky",
        "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota",
        "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire",
        "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota",
        "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island",
        "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont",
        "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
    ],
    "Tax rates": [
        "2%-5%", "None", "2.5%", "2%-3.9%", "1%-13.3%", "4.4%", "2%-6.99%", "2.2%-6.6%",
        "4%-10.75%", "None", "5.39%", "1.4%-11%", "5.695%", "4.95%", "3%", "3.8%",
        "5.2%-5.58%", "4%", "3%", "5.8%-7.15%", "2%-5.75%", "5%-9%", "4.25%",
        "5.35%-9.85%", "4.4%", "2%-4.7%", "4.7%-5.9%", "2.46%-5.2%", "None", "None",
        "1.4%-10.75%", "1.5%-5.9%", "4%-10.9%", "4.25%", "1.95%-2.5%", "2.75%-3.5%",
        "0.25%-4.75%", "4.75%-9.9%", "3.07%", "3.75%-5.99%", "0%-6.2%", "None", "None",
        "None", "4.55%", "3.35%-8.75%", "2%-5.75%", "None", "2.22%-4.82%", "3.5%-7.65%",
        "None"
    ]
}

# Create a DataFrame
tax_data = pd.DataFrame(data)

# Define the median income for calculation
median_income = 60268

# simplified approach for a median tax rate per state, not accounting for the exact marginal tax rates and progression that states may have.
def calculate_tax(rate_str, income):
    if rate_str == "None":
        return 0.0
    if "-" in rate_str:  # For progressive rates with a range
        low_rate, high_rate = map(lambda x: float(x.strip('%')) / 100, rate_str.split('-'))
        return income * ((low_rate + high_rate) / 2)  # Average of rates for simplicity
    else:  # For flat tax rates
        flat_rate = float(rate_str.strip('%')) / 100
        return income * flat_rate

# Reapply the tax calculation to all states
tax_data["State Tax for $60,000"] = tax_data["Tax rates"].apply(lambda rate: calculate_tax(rate, median_income))

# Recalculate the median state tax and effective tax rate
median_state_tax = tax_data["State Tax for $60,000"].median()
median_effective_tax_rate = median_state_tax / median_income

median_state_tax, median_effective_tax_rate

(np.float64(2335.3849999999998), np.float64(0.03874999999999999))

In [105]:
afteralltax25 = fin - median_state_tax
print(afteralltax25)

49275.952999999994

In [109]:
alltaxrate = (median_income-afteralltax25)/median_income
print(alltaxrate) # this alligns with my expectations, just more rigorous now than blindly trusting a value

0.18238612530696233

In [125]:
#while 2017 tcja and 2001 cuts are meaningful, for the median income they are not that massive, and have some offsets which may impact it. A much more
#rigorous effort involving immense tax analysis would have to be done to show a year to year difference if that rate itself has shifted. I am comfortable
#not spending that effort analyzing every single year and every single state tax code
df['annual after tax pay'] = df.iloc[:, 1] *52*(1-alltaxrate)
df['median hourly after tax pay'] = df.iloc[:, 3] /(52*40)
#net spendable amount of money, and per hour, is known (not accounting for shifts in cost of living that may have occurred as this entire project is one approach at quantifying such a stat)

,observation_date,LEU0252881500A,median_hourly_pay,annual after tax pay,median hourly after tax pay
0,1979-01-01,241,6.025,10246.337078,4.926124
1,1980-01-01,262,6.550,11139.171429,5.355371
2,1981-01-01,284,7.100,12074.521701,5.805059
3,1982-01-01,302,7.550,12839.808288,6.172985
4,1983-01-01,313,7.825,13307.483425,6.397829
5,1984-01-01,326,8.150,13860.190404,6.663553
6,1985-01-01,344,8.600,14625.476991,7.031479
7,1986-01-01,359,8.975,15263.215813,7.338085
8,1987-01-01,374,9.350,15900.954635,7.644690
9,1988-01-01,385,9.625,16368.629771,7.869534
10,1989-01-01,399,9.975,16963.852672,8.155698
11,1990-01-01,412,10.300,17516.559651,8.421423
12,1991-01-01,426,10.650,18111.782552,8.707588
13,1992-01-01,440,11.000,18707.005453,8.993753
14,1993-01-01,459,11.475,19514.807961,9.382119
15,1994-01-01,467,11.675,19854.935333,9.545642
16,1995-01-01,479,11.975,20365.126391,9.790926
17,1996-01-01,490,12.250,20832.801527,10.015770
18,1997-01-01,503,12.575,21385.508506,10.281494
19,1998-01-01,523,13.075,22235.826936,10.690301
20,1999-01-01,549,13.725,23341.240895,11.221750
21,2000-01-01,576,14.400,24489.170775,11.773640
22,2001-01-01,596,14.900,25339.489204,12.182447
23,2002-01-01,608,15.200,25849.680262,12.427731
24,2003-01-01,620,15.500,26359.871320,12.673015
25,2004-01-01,638,15.950,27125.157907,13.040941
26,2005-01-01,651,16.275,27677.864886,13.306666
27,2006-01-01,671,16.775,28528.183316,13.715473
28,2007-01-01,695,17.375,29548.565431,14.206041
29,2008-01-01,722,18.050,30696.495311,14.757930
30,2009-01-01,739,18.475,31419.265977,15.105416
31,2010-01-01,747,18.675,31759.393349,15.268939
32,2011-01-01,756,18.900,32142.036642,15.452902
33,2012-01-01,768,19.200,32652.227700,15.698186
34,2013-01-01,776,19.400,32992.355072,15.861709
35,2014-01-01,791,19.775,33630.093894,16.168314
36,2015-01-01,809,20.225,34395.380481,16.536241
37,2016-01-01,832,20.800,35373.246675,17.006369
38,2017-01-01,860,21.500,36563.692476,17.578698
39,2018-01-01,886,22.150,37669.106435,18.110147
40,2019-01-01,917,22.925,38987.100001,18.743798
41,2020-01-01,984,24.600,41835.666740,20.113301
42,2021-01-01,998,24.950,42430.889641,20.399466
43,2022-01-01,1059,26.475,45024.360852,21.646327
44,2023-01-01,1117,27.925,47490.284298,22.831867
45,2024-01-01,1159,28.975,49275.953000,23.690362

In [ ]:
#on to the cost of a big mac now, which in modern day can be difficult to quantify with incredibly dynamic pricing (apps, discounts, regions, etc)